@import "tailwindcss";

body {
  font-family: var(--font-inter), sans-serif;
}

@layer utilities {
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

  .skeleton {
    background: linear-gradient(
      90deg,
      #f3f3f3 25%,
      #e8e8e8 37%,
      #f3f3f3 63%
    );
    background-size: 200% 100%;
    animation: shimmer 1.4s ease infinite;
  }
}

@layer base {
  :root {
    --color-body: rgb(255, 255, 255);
    --color-text: rgb(113, 113, 122);
    --color-lead: rgb(000, 000, 000);
    --color-subs: rgb(082, 082, 091);
    --color-main: rgb(236, 072, 153);
    --color-fore: rgb(255, 255, 255);
    --color-mute: rgb(250, 250, 250);
    --color-grey: rgb(244, 244, 245);
    --color-line: rgb(228, 228, 231);
    --color-dark: rgb(024, 024, 027);
    --color-fire: rgb(239, 068, 068);
    --color-gold: rgb(251, 191, 036);
    --color-lime: rgb(132, 204, 022)
  }

  .dark {
    --color-body: rgb(024, 024, 027);
    --color-text: rgb(130, 130, 139);
    --color-lead: rgb(255, 255, 255);
    --color-subs: rgb(161, 161, 170);
    --color-main: rgb(244, 114, 182);
    --color-fore: rgb(000, 000, 000);
    --color-mute: rgb(016, 016, 019);
    --color-grey: rgb(039, 039, 042);
    --color-line: rgb(047, 047, 052);
    --color-dark: rgb(009, 009, 011);
    --color-fire: rgb(248, 113, 113);
    --color-gold: rgb(252, 211, 077);
    --color-lime: rgb(163, 230, 053)
  }
}

@theme {
  --color-body: var(--color-body);
  --color-text: var(--color-text);
  --color-lead: var(--color-lead);
  --color-subs: var(--color-subs);
  --color-main: var(--color-main);
  --color-fore: var(--color-fore);
  --color-mute: var(--color-mute);
  --color-grey: var(--color-grey);
  --color-line: var(--color-line);
  --color-dark: var(--color-dark);
  --color-fire: var(--color-fire);
  --color-gold: var(--color-gold);
  --color-lime: var(--color-lime);
}